.g-carouse {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.g-carouse img {
  width: 100%;
}

.g-carouse .pic {
  position: absolute;
  top: 6.8vw;
  left: 45vw;
  width: 9vw;
  height: 7vw;
  background: url(../images/txt.png) 0 0/100% auto no-repeat;
}

.g-carouse .txt-top {
  position: absolute;
  top: 3vw;
  left: 45vw;
  font-size: 2.5vw;
  color: #ffffff;
}

.g-carouse .txt-bottom {
  position: absolute;
  top: 5vw;
  left: 55.5vw;
  font-size: 3.2vw;
  color: #ffffff;
}

.g-main {
  margin-bottom: 100px;
}

.g-main .title {
  width: 100%;
  height: 80px;
  color: #333333;
  line-height: 80px;
}

.g-main .title .green {
  color: #29B078;
}

.g-main .list {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}

.g-main .list .list-title {
  width: 100%;
  border-bottom: #E6E6E6 solid 1px;
  text-align: center;
  color: #333333;
  line-height: 60px;
}

.g-main .list-main {
  width: 100px;
  margin-top: 20px;
  margin-left: calc(50% - 45px);
  margin-bottom: 30px;
  text-align: justify;
  font-size: 14px;
  color: #29B078;
}

.g-main .list-txt {
  display: flex;
  align-items: center;
  line-height: 40px;
  overflow: hidden;
}

.g-main .list-txt .round {
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border: #FF650E solid 1px;
  border-radius: 50%;
}

.g-main .list-txt:hover {
  color: #FF650E;
}

.g-main .list-txt:hover .round {
  background: #F9A372;
}

.g-main .int {
  margin-bottom: 30px;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  text-indent: 28px;
  letter-spacing: 1px;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
}

.g-main .int .main01 {
  padding: 30px 10%;
  margin: 0 auto;
  border-bottom: #E6E6E6 solid 1px;
}

.g-main .int img {
  width: 130px;
  float: left;
  margin-right: 10px;
}

.g-main .int .main02 {
  padding: 30px 10%;
  margin: 0 auto;
}

.g-main .int .main02 div {
  margin: 18px 0;
}
