body {
  background: #F0F0F0;
}

.g-main {
  position: fixed;
  top: 44px;
  bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

.m-title,
.m-choose,
.m-input,
.m-title,
.m-pic,
.m-choose,
.m-pic {
  position: relative;
  width: 80%;
  text-align: center;
  font-size: 15px;
  color: #464646;
  background: #FFFFFF;
  box-shadow: 0 0 2px #F0F0F0;
}

.m-input, .m-title, .m-pic, .m-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  height: 40px;
  line-height: 40px;
}

.m-input input, .m-title input, .m-pic input, .m-choose input {
  width: 40px;
  height: 26px;
  margin: 0 10px;
  border-radius: 5px;
  text-align: center;
  background: #F0F0F0;
  outline: none;
  border: none;
}

.m-input .small, .m-title .small, .m-pic .small, .m-choose .small {
  font-size: 13px;
  color: #FBB435;
}

.m-title {
  margin-top: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.m-pic {
  flex-wrap: wrap;
  height: 150px;
}

.m-pic .pic {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid #F0F0F0;
  border-radius: 50%;
}

.m-pic .pic-1 {
  margin: 10px 15%;
}

.m-pic .pic-1 .pic {
  background: url(../../images/sprites4.png) 0 0 no-repeat;
}

.m-pic .pic-2 {
  margin: 10px 15%;
}

.m-pic .pic-2 .pic {
  background: url(../../images/sprites4.png) -50px 0 no-repeat;
}

.m-pic .pic-1,
.m-pic .pic-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-choose {
  height: 80px;
}

.m-choose .add,
.m-choose .subtract {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #FBB435;
}

.m-choose .subtract div {
  width: 18px;
  height: 4px;
  border-radius: 4px;
  background: #FFFFFF;
}

.m-choose .add div {
  width: 18px;
  height: 4px;
  border-radius: 4px;
  background: #FFFFFF;
}

.m-choose .add div:after {
  content: "";
  display: block;
  width: 18px;
  height: 4px;
  border-radius: 4px;
  transform: rotate(-90deg);
  background: #FFFFFF;
}

.m-choose #range {
  width: 50%;
  height: 20px;
  margin: 0 20px;
  -webkit-appearance: none;
  border-radius: 20px;
  background: #f0f0f0;
}

.m-choose #range:focus {
  outline: none;
}

.m-choose #range::-webkit-slider-runnable-track {
  height: 15px;
  border-radius: 50%;
}

.m-choose #range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  margin-top: -5px;
  background: #ffffff;
  border-radius: 50%;
  border: solid 2px #FBB435;
}
