body {
  margin: 0;
  background: #F0F0F0;
  overflow: hidden;
}

input {
  display: none;
}

.nav-left {
  width: 200px;
  height: 100vh;
  float: left;
  background: #FFFFFF;
  overflow: hidden;
  margin-left: -200px;
}

.nav-left .li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 40px;
  color: #29BDE0;
  line-height: 30px;
  border-bottom: #29BDE0 solid 1px;
}

.nav-left .li .announce,
.nav-left .li .set,
.nav-left .li .help,
.nav-left .li .about {
  width: 23px;
  height: 23px;
  margin-left: 30px;
}

.nav-left .li .announce {
  background: url(../images/sprites.png) -120px 0 no-repeat;
}

.nav-left .li .set {
  background: url(../images/sprites.png) -30px 0 no-repeat;
}

.nav-left .li .help {
  background: url(../images/sprites.png) -60px 0 no-repeat;
}

.nav-left .li .about {
  background: url(../images/sprites.png) -90px 0 no-repeat;
}

.nav-left .arrow {
  width: 12px;
  height: 12px;
  margin-right: 30px;
  border-top: #29BDE0 solid 2px;
  border-right: #29BDE0 solid 2px;
  transform: rotate(45deg);
}

/*Animate content area to the right*/
#nav:checked ~ .nav-left {
  margin-left: 0;
}

#nav:checked ~ .g-right {
  margin-left: 200px;
}

.g-right {
  width: 100%;
}

.g-head {
  position: relative;
  width: 100%;
  height: 44px;
  background: #29BDE0;
}

.m-nav {
  position: absolute;
  top: 20px;
  left: 10px;
}

.m-nav .u-line {
  width: 20px;
  height: 1px;
  margin-bottom: 4px;
  background: #FFFFFF;
}

.g-main {
  width: 100%;
  height: auto;
  position: sticky;
  overflow: auto;
  background: #F0F0F0;
}

.u-title {
  width: 80%;
  height: 58px;
  text-align: center;
  font-size: 18px;
  color: #9A9A9A;
  line-height: 58px;
  margin: 14px auto;
  background: #FFFFFF;
  border: #C9C9C9 solid 1px;
}

.m-container {
  width: 80%;
  height: 75vh;
  position: relative;
  margin: 0 auto;
  background: #FFFFFF;
  border: #C9C9C9 solid 1px;
}

.m-container .main-title {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  color: #FBB435;
  border-bottom: 1px solid #FBB435;
}

.m-container .m-box {
  overflow: auto;
  position: sticky;
  top: 45px;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: calc(75vh - 65px);
}

.m-container .m-box a {
  outline: none;
  border: none;
  text-decoration: none;
  color: #FFFFFF;
}

.m-container .m-box .choose {
  width: 80%;
  height: 68px;
  margin: 15px auto;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 68px;
  background: #29BDE0;
}

.m-container .m-box .txt {
  text-align: center;
  font-size: 12px;
  color: #9A9A9A;
}

.m-container .u-page {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-container .u-page .round {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background: #F0F0F0;
}

.m-container .u-page .round:hover {
  background: #29BDE0;
}

.m-container .u-btn {
  position: absolute;
  top: 195px;
  left: 93%;
  border: 14px solid #FBB435;
  border-color: transparent transparent transparent #FBB435;
}
