body {
  background: #29BDE0;
}

.g-main {
  position: relative;
  width: 70%;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 45px auto;
  box-sizing: border-box;
  background: #FFEDC5;
  border: 3px solid #FFFFFF;
  text-align: center;
}

.g-main .m-round {
  position: absolute;
  top: -18px;
  left: calc(50% - 18px);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid #FFEDC5;
  font-size: 20px;
  color: #F56B81;
  line-height: 36px;
}

.g-main .m-pic {
  width: 150px;
  height: 150px;
  margin: 30px;
  background: url(../../images/sprites3.png) 0 0 no-repeat;
}
