body {
  background: #29BDE0;
  overflow: hidden;
}

.g-main {
  position: fixed;
  top: 44px;
  bottom: 90px;
  left: 0;
  overflow: auto;
  width: 90%;
  height: auto;
  padding: 40px 5vw 0 5vw;
}

.g-main .box {
  position: relative;
  float: left;
  width: 20vw;
  height: 20vw;
  margin: 0 4vw 8vw 5vw;
  border: #FFFFFF solid 1px;
  background: #FFC865;
  line-height: 14vw;
  text-align: center;
  font-size: 15px;
  color: #464646;
}

.g-main .box .txt {
  width: 100%;
  height: 6vw;
  line-height: 6vw;
  background: rgba(26, 153, 183, 0.52);
}
