@charset "utf-8";
$blue: #29BDE0;
$black: #464646;
$lightblack: #A6A6A6;
$lightblack2: #c7c7c7;
$red: #F66F6F;
$graybg: #F0F0F0;
$grayborder: #C9C9C9;
$white: #FFFFFF;
$yellow: #FBB435;
$yellowtxt: #FFC865;
$green: rgba(26, 153, 183, .52);

@mixin outline {
    outline: none;
    border: none;
}

@mixin flex($vert, $horz) {
    display: flex;
    justify-content: $vert;
    align-items: $horz;
}

@mixin width($width, $height) {
    width: $width;
    height: $height;
}

@mixin font($align, $size, $color) {
    text-align: $align;
    font-size: $size;
    color: $color;
}

@mixin fix($top, $left, $bottom) {
    position: fixed;
    top: $top;
    bottom: $bottom;
    left: $left;
}

@mixin absolute-l($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
}

@mixin absolute-r($top, $right) {
    position: absolute;
    top: $top;
    right: $right;
}

body {
    background: $blue;
    overflow: hidden;
}

.g-main {
    // @include flex(space-between, flex-start);
    // flex-wrap: wrap;
    @include fix(44px, 0, 90px);
    overflow: auto;
    @include width(90%, auto);
    padding: 40px 5vw 0 5vw;

    .box {
        position: relative;
        float: left;
        width: 20vw;
        height: 20vw;
        margin: 0 4vw 8vw 5vw;
        border: $white solid 1px;
        background: $yellowtxt;
        line-height: 14vw;
        @include font(center, 15px, $black);

        .txt {
            @include width(100%, 6vw);
            line-height: 6vw;
            background: $green;
        }
    }
}

