body {
  margin: 0;
  background: #FFFFFF;
}

.header {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  background: #5FC0CD;
  line-height: 40px;
}

.arrow {
  position: absolute;
  top: 14px;
  left: 16px;
  display: inline-block;
  border: solid #F8F8F8;
  border-width: 0 2px 2px 0;
  padding: 5px;
  transform: rotate(135deg);
}

.background {
  position: relative;
  width: 100%;
  height: 145px;
  background: url(../images/background.png) left top/100% auto no-repeat;
}

.bg-txt {
  position: absolute;
  top: 50px;
  left: 110px;
  color: #FFFFFF;
}

.year {
  padding-left: 12px;
  font-size: 14px;
}

.location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  font-size: 11px;
}

.location-bg {
  width: 9px;
  height: 11px;
  margin-right: 8px;
  background: url(../images/sprites01.png) -100px 0 no-repeat;
}

.bg-photo {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 35px;
  left: 13px;
  background: url(../images/sprites01.png) 0 -50px no-repeat;
}

.blueline {
  width: 2px;
  height: 12px;
  margin: 0 13px;
  background: #5FC0CD;
  border-radius: 1px;
}

.skill {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 44px;
  text-align: justify;
  font-size: 14px;
  color: #333333;
  line-height: 44px;
}

.main {
  position: fixed;
  top: 40px;
  bottom: 70px;
  overflow: auto;
  width: 100%;
  height: auto;
}

.container {
  border-top: #E1E5E7 solid 1px;
  border-bottom: #E1E5E7 solid 1px;
}

.box, .box3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 30px);
  height: auto;
  margin: 0 auto;
  border-bottom: #E1E5E7 solid 1px;
}

.star {
  width: 12px;
  height: 12px;
  margin-left: 12px;
  background: url(../images/sprites01.png) -50px 0 no-repeat;
}

.boxtxt {
  height: 44px;
  margin-left: 3px;
  text-align: center;
  font-size: 14px;
  color: #333333;
  line-height: 44px;
}

.txtleft {
  width: 56px;
  height: auto;
  text-align: justify;
  font-size: 14px;
  color: #999999;
  margin-left: 12px;
  line-height: 44px;
}

.line {
  width: 1px;
  height: 12px;
  margin-left: 12px;
  background: #999999;
}

.txtright, .txtright2, .txtright3 {
  width: calc(100% - 125px);
  height: auto;
  margin-left: 12px;
  text-align: justify;
  font-size: 14px;
  color: #999999;
}

.box3 {
  border: none;
}

.txtright2 {
  color: #E26163;
}

.txtright3 {
  padding: 5px 0;
}

.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foot button {
  width: 40%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  border: #5FC0CD solid 1px;
}

.message {
  text-align: center;
  font-size: 15px;
  color: #5FC0CD;
  background: #FFFFFF;
}

.phone {
  text-align: center;
  font-size: 15px;
  color: #FFFFFF;
  background: #5FC0CD;
}
